body{
    font-family:Arial, sans-serif;
    text-align:center;
}

.filter-btns{
    margin:20px;
}

.filter{
    padding:10px 15px;
    cursor:pointer;
}

.filter.active{
    background:gold;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:300px;
}

.card img{
    width:100%;
    border-radius:10px;
}

.hidden{
    display:none;
}